# Replace equi.rocks with your application's domain
equi.rocks, www.equi.rocks {
  # From https://samjmck.com/en/blog/using-caddy-with-cloudflare/#2-using-a-lets-encrypt-certificate
	tls {
		dns cloudflare {env.CLOUDFLARE_AUTH_TOKEN}
	}

	# node-app:3000 is the docker container running the Node.js application
	# in our case it's exposed on port 3000
	reverse_proxy node-app:3000 {
		header_down Strict-Transport-Security max-age=31536000;
	}
}
